<h1>All advertising</h1>

<% @items.each do |item| %>
<ul>
    <li><%= link_to item.owner, item_path(item) %></li>
    <li><%= item.name %></li>
    <li><%= item.description %></li>
    </ul>
    <%= button_to 'delete', item_path(item), method: :delete %>
<% end %>

<br/>

<%= link_to 'Create advertising', new_item_path %>